<template>
   <div>
        <template v-if="currentSales">
            <div class="form-group">
               <label>CLIENTE</label>
               <p class="text-gray">{{currentSales.client}}</p>
               <hr>
            </div>

            <div class="form-group">
               <label>FORMA DE PAGAMENTO</label>
               <select-square-options v-model="form.typePayment" :options="[
                    {value:1, text:'Cartão crédito'},
                    {value:2, text:'Cartão débito'},
                    {value:3, text:'Dinheiro'},
                    {value:4, text:'Pix'},
                    {value:5, text:'Cheque'},
               ]"/>
            </div>

            <hr>

            <!--VALOR RECEBIDO-->
            <div class="form-group">

               <template v-if="form.typePayment == 3">
                   <div class="d-flex justify-content-between">
                       <label class="align-self-center">Valor recebido</label>
                       <div class="d-flex">

                           <input type="text"
                                  class="form-control mr-2"
                                  name="payment_value"
                                  id="receive_value"
                                  style="width: 130px;"
                                  v-model="form.receiveValue"
                           >
                           <a class="align-self-center" style="cursor: pointer" @click="form.receiveValue=0">
                               <i class="fas fa-trash text-danger"></i>
                           </a>

                       </div>
                   </div>
               </template>

               <template v-else-if="form.typePayment == 1">
                   <div class="d-flex">
                       <label class="align-self-center">Quantidade de parcelas</label>

                   </div>
               </template>

            </div>

            <!-- OBSERVAÇÂO -->
            <div class="form-group">
               <textarea class="form-control"
                         rows="3"
                         placeholder="Observação"
                         v-model="form.observations"
               >
               </textarea>
            </div>

            <hr>

            <!-- TOTAIS -->
            <div>

               <div class="text-right">
                   <h3 class="mt-3 text-blue">
                       Valor total: <span class="font-weight-bold">R$ {{currentSales.total}}</span>
                   </h3>

                   <h4 class="mt-3">
                       Troco: <span class="font-weight-bold">R$ {{form.receiveValue ? (form.receiveValue - currentSales.total) : 0}}</span>
                   </h4>
               </div>

            </div>
        </template>

        <template v-else>
            <div>
                <h3 class="text-gray text-center">Selecione uma venda ao lado</h3>
            </div>
        </template>
   </div>
</template>

<script>
export default {
    name: "PaymentForm",

    props:{
        currentSales:{
            required:true,
            default:0
        }
    },

    data() {
        return {
            form: {
                typePayment: null,
                receiveValue: null,
                observations: null
            }
        }
    },

    methods: {

    },
    mounted() {

    }
}
</script>

<style lang="scss" scoped>

</style>
