<template>
    <div>
        <div class="row mb-3">


            <div class="col-md-3">
                <div class="small-box bg-white">
                    <div class="p-2">
                        <label>CAIXA ABERTO</label>
                        <p>{{loggedUser}} - Hoje às 7:30</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="small-box bg-white">
                    <div class="p-2">
                        <label>TOTAL DE VENDAS</label>
                        <p>R$ 200,00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <button class="btn btn-default btn-block h-100">Status</button>
            </div>

            <div class="col-md-2">
                <button class="btn btn-default btn-block h-100">Histórico</button>
            </div>

            <div class="col-md-2">
                <button class="btn btn-dark btn-block h-100">Fechar Caixa</button>
            </div>


        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="card card-body h-100">
                    <sales-list @sale="currentSale = $event"></sales-list>
                </div>

            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <payment-form :current-sales="currentSale"></payment-form>
                </div>
            </div>

        </div>

        <!-- Botões para salvamento-->
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="d-flex flex-row-reverse w-100">

                    <div>
                        <button type="button"
                                class="btn btn-block btn-primary"
                        >
                            <b>CONFIRMAR PAGAMENTO</b>
                        </button>
                    </div>

                    <div class="mr-2">
                        <button type="button"
                                class="btn btn-block btn-danger"
                        >
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SalesList from "./SalesList";
import PaymentForm from "./PaymentForm";

export default {

    name: "Payment",
    components:{
        'sales-list':SalesList,
        'payment-form':PaymentForm
    },
    props:{
        loggedUser:{
            required: true,
        }
    },
    data() {
        return {
            currentSale: null
        }
    },

    methods: {
        getSale(){

        }
    },
    mounted() {
        this.$root.collapseMenu();

        this.getSale();
    }
}
</script>

<style lang="scss" scoped>
    .small-box{
        margin-bottom: 0px;
    }
</style>
