<template>
    <div class="row">
        <div class="form-group w-100">
            <div class="row">
                <div class="col-12">
                    <input type="text"
                           class="form-control"
                           id="client"
                           placeholder="Busca por vendas de hoje"
                    >
                </div>
            </div>

            <div class="row mt-4">
                <div class="table-responsive">
                    <table class="table" style="font-size: 12px">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Status</th>
                            <th scope="col">Vendedor</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>109</td>
                            <td>Bruno teleginski</td>
                            <td>154.874.548-79</td>
                            <td>
                                <span class="right badge badge-warning status-button"
                                      @click="selectSale({
                                                total: 500,
                                                client: 'Bruno teleginski',
                                                status: 1
                                            })"
                                >
                                    Aguardando
                                </span>
                            </td>
                            <td>Alguém</td>
                            <td>Dinheiro</td>
                            <td>R$ 500,00</td>
                        </tr>
                        <tr>
                            <td>109</td>
                            <td>Bruno teleginski</td>
                            <td>154.874.548-79</td>
                            <td>
                                <span class="right badge badge-warning status-button"
                                      @click="selectSale({
                                                total: 100,
                                                client: 'amigo',
                                                status: 1
                                            })"
                                >
                                    Aguardando
                                </span>
                            </td>
                            <td>Alguém</td>
                            <td>Dinheiro</td>
                            <td>R$ 100,00</td>
                        </tr>
                        <tr>
                            <td>109</td>
                            <td>Bruno teleginski</td>
                            <td>154.874.548-79</td>
                            <td>
                                <span class="right badge badge-warning status-button"
                                      @click="selectSale({
                                                total: 800,
                                                client: 'amigos do bem',
                                                status: 1
                                            })"
                                >
                                    Aguardando
                                </span>
                            </td>
                            <td>Alguém</td>
                            <td>Dinheiro</td>
                            <td>R$ 800,00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    name: "SalesList",
    data() {
        return {
            sales: null
        }
    },

    methods: {

        selectSale(item){
            this.$emit('sale', item);
        },

        getSales(){
            axios.get('/sales/get/all').then((res) =>{
                this.sales = res.data.data
            })
        }
    },
    mounted() {
        this.getSales();
    }
}
</script>

<style lang="scss" scoped>
    .status-button{
        cursor: pointer;
    }
</style>
