<template>
  <div class="sm:flex sm:justify-start mt-8">
    <div class="flex items-center mr-5">
      <p>Página {{ current }} de {{ last }}</p>
    </div>

    <div class="flex mt-3 sm:mt-0">
      <div class="flex items-center border border-gray-300 px-3 py-1 rounded-l-md hover:bg-gray-100 text-gray-600">
        <a @click.prevent="goPage('first')"
           href="">
          <svg width="14"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M11 19l-7-7 7-7m8 14l-7-7 7-7"/>
          </svg>
        </a>
      </div>

      <div v-if="current === last && (perPage * 2) < total"
           class="border border-gray-300 px-3 py-1 hover:bg-gray-100 text-gray-600">
        <a @click.prevent="goPage(current - 2)"
           href="">{{ current - 2 }}</a>
      </div>

      <div v-if="current > 1"
           class="border border-gray-300 px-3 py-1 hover:bg-gray-100 text-gray-600">
        <a @click.prevent="goPage('prev')"
           href="">{{ current - 1 }}</a>
      </div>

      <div class="border border-gray-300 px-3 py-1 hover:bg-gray-100 text-gray-900">
        <p class="font-bold">{{ current }}</p>
      </div>

      <div v-if="current !== last"
           class="border border-gray-300 px-3 py-1 hover:bg-gray-10 text-gray-600">
        <a @click.prevent="goPage('next')"
           href="">{{ current + 1 }}</a>
      </div>

      <div v-if="current === 1 && (perPage * 2) < total"
           class="border border-gray-300 px-3 py-1 hover:bg-gray-10 text-gray-600">
        <a @click.prevent="goPage(current + 2)"
           href="">{{ current + 2 }}</a>
      </div>

      <div class="flex items-center border border-gray-300 px-3 py-1 rounded-r-md hover:bg-gray-100 text-gray-600">
        <a @click.prevent="goPage('last')"
           href="">
          <svg width="14"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 5l7 7-7 7M5 5l7 7-7 7"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Pagination",
  props: {
    current: {
      required: true,
      type: Number,
    },
    last: {
      required: true,
      type: Number,
    },
    perPage: {
      required: true,
      type: Number,
    },
    total: {
      required: true,
      type: Number,
    },
  },
  methods: {
    goPage(page) {
      this.$emit('go-page', page);
    },
  }
}
</script>

<style scoped>

</style>
