<template>
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="filter">Filtros</label>
            <select id="filter"
                    class="form-control">
              <option>Selecione um filtro</option>
              <option>option 1</option>
              <option>option 2</option>
              <option>option 3</option>
            </select>
          </div>
        </div>
      </div>

      <div class="card card-body">
        <div class="row">

          <div v-for="product in productsMock" :key="product.name" class="col-md-3">
            <div class="card card-body pb-1 product-card" @click="addCart(product)">
              <div class="d-flex justify-content-center">
                <img class="w-50"
                     :src="product.photo_url"
                     alt=""/>
              </div>
              <p class="mt-3 mb-0">{{product.name}}</p>
              <p class="font-weight-bold mb-0">Qnt. 122</p>
              <div class="box-secondary d-flex  justify-content-center align-items-center py-2">
                <p class="mb-0">R$ {{product.price}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3 mb-md-0">
          <button type="button"
                  class="btn btn-block btn-outline-secondary">Orçamento
          </button>
        </div>

        <div class="col-md-6 mb-5 mb-md-0">
          <button type="button"
                  class="btn btn-block btn-outline-secondary">Ordem de serviço
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="form-group">
        <label for="client">Cliente (Nome/CPF)</label>
        <div class="row">
          <div class="col-md-11 position-relative">
            <input type="search"
                v-model="clientSearch"
                @keyup="getClients"
                class="form-control"
                placeholder="Geral"
                id="client" @keyup.down="onArrowDown" @keyup.up="onArrowUp" @keyup.enter="onEnter" />
            <ul ref="scrollContainer" v-if="clientSearch && showListClient"
                class="list-group search-popup">
              <li ref="options" v-if="clients.length == 0"
                  :class="{ 'is-active': i === arrowCounter }"
                  class="list-group-item">
                <div class="flex justify-between items-center"
                     @click="createClient()">
                     Usuário não existe, clique aqui para criá-lo
                </div>
              </li>
              <li v-for="(client, i) in clients"
                  :key="client.id"
                  :class="{ 'is-active': i === arrowCounter }"
                  ref="options"
                  class="list-group-item">
                <div class="flex justify-between items-center"
                     @click="selectedClient(client)">
                  {{ client.full_name + ' | ' + 'CPF: ' + client.cpf }}
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-1 mt-3 mt-md-0">
            <button @click="openCreateModal" type="button"
                    class="btn btn-info btn-block btn-flat">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="card card-body h-md-100 position-relative">
        <div class="form-group">
          <label for="product">Busca por produto (Nome/Código)</label>
          <div class="position-relative">
            <input type="search"
                    v-model="productSearch"
                    @keyup="getProducts"
                    class="form-control"
                    @keyup.down="onArrowDownProd" @keyup.up="onArrowUpProd" @keyup.enter="onEnterProd"
                    id="product">
            <ul v-if="productSearch && products && products.length > 0 && showListProduct"
                ref="scrollContainerProd"
                class="list-group search-popup">
                <li v-for="(product, i) in products"
                    :key="product.id"
                    @click="addCart(product)"
                    class="list-group-item"
                    ref="optionsProd"
                    :class="{ 'is-active': i === arrowCounterProd }"
                >
                <div class="flex justify-between items-center">
                    <span class="font-weight-bold">{{product.name}} | </span><span :class="false && 'unavailable'"><span class="font-weight-bold">Estoque:</span> 100</span> <span v-if="product.barcode" class="font-weight-bold">| Código:</span> {{product.barcode}}
                </div>
                </li>
            </ul>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Produtos</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Preço</th>
              <th scope="col">Desconto</th>
              <th scope="col">Subtotal</th>
              <th scope="col">Excluir</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in cart"
                :key="index">
              <td>{{ item.productName }}</td>
              <td>
                <a href=""
                   @click.prevent="removeAmountProductCart(index)"
                   class="text-primary mr-2"><i class="fas fa-minus-circle"></i></a>
                {{ item.amount }}
                <a href=""
                   @click.prevent="addAmountProductCart(index)"
                   class="text-primary ml-2"><i class="fas fa-plus-circle"></i></a>
              </td>
              <td>R$ {{ parseFloat(item.price).toLocaleString('pt-br', {minimumFractionDigits: 2}) }}</td>
              <td>

                <span v-if="!cart[index].editDiscount">R$ {{ parseFloat(item.discount).toLocaleString('pt-br', {minimumFractionDigits: 2}) }}</span>
                <span>
                  <money v-if="cart[index].editDiscount"
                         class="money"
                         @keypress.enter.native="applyDiscount(index)"
                         v-model="cart[index].discount"
                         v-bind="money"></money>
                  <a v-if="!cart[index].editDiscount"
                     href=""
                     @click.prevent="editProductDiscount(index)"
                     class="text-primary ml-2"><i class="fas fa-pen"></i></a>
                  <a v-else
                     href=""
                     @click.prevent="applyDiscount(index)"
                     class="text-success ml-2"><i class="fas fa-check-circle"></i></a>
                </span>

              </td>
              <td>R$ {{ parseFloat(item.subtotal).toLocaleString('pt-br', {minimumFractionDigits: 2}) }}</td>
              <td><a href=""
                     @click.prevent="removeProductCart(index)"
                     class="text-danger"><i class="fas fa-trash"></i></a></td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="box-price position-absolute">
          <div class="box-secondary px-5 py-3">
            <div class="row text-center">
              <div class="col-md-6">
                <p class="mb-0">Unid. <span class="font-weight-bold">{{ amount }}</span></p>
              </div>
              <div class="col-md-6">
                <p class="mb-0">Desconto <span class="font-weight-bold">R$ {{ parseFloat(discount).toLocaleString('pt-br', {minimumFractionDigits: 2}) }}</span></p>
              </div>
            </div>
          </div>
          <div class="text-right">
            <h3 class="mt-3">Total Geral: <span class="font-weight-bold">R$ {{ parseFloat(total).toLocaleString('pt-br', {minimumFractionDigits: 2}) }}</span></h3>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-3 mb-3 mb-md-0">
          <button @click="openCancelModal" type="button"
                class="btn btn-block btn-danger">Cancelar
          </button>
        </div>

        <div class="col-md-3 mb-3 mb-md-0">
          <button type="button"
                  class="btn btn-block btn-outline-secondary">Pedido
          </button>
        </div>

        <div class="col-md-6 mb-3 mb-md-0">
          <button type="button"
                  class="btn btn-block btn-primary">Fechar pedido
          </button>
        </div>
      </div>
    </div>

    <div class="modal" id="createUserModal" tabindex="-1" role="dialog">
        <form class="modal-dialog" role="document" @submit.prevent="submitCreateUser">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">Novo cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="d-flex">
                <div
                  class="form-file"
                  ref="formFile">
                  <input type="file" @change="previewFile" />
                </div>
                <div class="flex-fill">
                  <input v-model="newClient.full_name" class="form-control my-3" placeholder="Nome Completo" required />
                  <input v-model="newClient.cpf" :class="{'is-invalid': !cpfIsValid}" class="form-control my-3" placeholder="CPF" v-mask="'###.###.###-##'"/>
                </div>
              </div>
              <input v-model="newClient.rg" class="form-control my-3" placeholder="RG" v-mask="'##.###.###-#'" />
              <div class="row my-3">
                <div class="col">
                  <select v-model="newClient.gender" name="gender" id="gender" class="form-control">
                    <option :value="undefined" disabled> Sexo </option>
                    <option value="f">Feminino</option>
                    <option value="m">Masculino</option>
                    <option value="o">Outro</option>
                    <option value="">Prefiro não dizer</option>
                  </select>
                </div>
                <div class="col">
                  <input v-model="newClient.birthdate" class="form-control" type="date" placeholder="Data de nascimento" />
                </div>
              </div>
              <input type="email" :class="{'is-invalid': !emailIsValid}" v-model="newClient.email" class="form-control my-3" placeholder="E-mail" />
              <div class="row my-3">
                <div class="col">
                  <input v-model="newClient.cellphone" class="form-control" placeholder="Celular" v-mask="'(##) #####-####'"/>
                </div>
                <div class="col">
                  <input v-model="newClient.phone" class="form-control" placeholder="Telefone" v-mask="'(##) ####-####'" />
                </div>
              </div>
              <div class="row my-3">
                <div class="col-6">
                  <input v-model="newClient.postcode" @keyup="handleViacep" class="form-control" placeholder="CEP" v-mask="'#####-###'" />
                </div>
              </div>
              <div class="row my-3">
                  <div class="col-8">
                      <input v-model="newClient.street" class="form-control" placeholder="Endereço" />
                  </div>
                  <div class="col-4">
                      <input v-model="newClient.number" class="form-control" placeholder="Numero" />
                  </div>
              </div>
              <input v-model="newClient.neighborhood" class="form-control my-3" placeholder="Bairro" />
              <div class="row my-3">
                <div class="col-8">
                  <input v-model="newClient.city" class="form-control" placeholder="Cidade" />
                </div>
                <div class="col-4">
                    <select v-model="newClient.uf" class="form-control">
                      <option value="" disabled>UF</option>
                      <option value="AC">AC</option>
                      <option value="AL">AL</option>
                      <option value="AP">AP</option>
                      <option value="AM">AM</option>
                      <option value="BA">BA</option>
                      <option value="CE">CE</option>
                      <option value="DF">DF</option>
                      <option value="ES">ES</option>
                      <option value="GO">GO</option>
                      <option value="MA">MA</option>
                      <option value="MT">MT</option>
                      <option value="MS">MS</option>
                      <option value="MG">MG</option>
                      <option value="PA">PA</option>
                      <option value="PB">PB</option>
                      <option value="PR">PR</option>
                      <option value="PE">PE</option>
                      <option value="PI">PI</option>
                      <option value="RJ">RJ</option>
                      <option value="RN">RN</option>
                      <option value="RS">RS</option>
                      <option value="RO">RO</option>
                      <option value="RR">RR</option>
                      <option value="SC">SC</option>
                      <option value="SP">SP</option>
                      <option value="SE">SE</option>
                      <option value="TO">TO</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-lg btn-primary">Confirmar</button>
            </div>
            </div>
        </form>
    </div>
    <div class="modal" id="cancelModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body py-4">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-center">
                <p class="h5 mb-3">Deseja cancelar toda a venda?</p>
                <button @click="handleCancel" class="btn btn-lg btn-danger">Confirmar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import toastr from 'toastr';
import 'toastr/build/toastr.min.css';

import { Money } from 'v-money'
import { mask } from 'vue-the-mask'
import { isValidCPF, isValidEmail } from '@brazilian-utils/brazilian-utils';

export default {
  name: "OrderCreate",
  components: { Money },
  directives: { mask },

  data() {
    return {
      clientSearch: '',
      clients: [],
      client: '',
      showListClient: false,
      productSearch: '',
      productsMock: [
          {
              barcode: '0001',
              photo_url: 'https://picsum.photos/100/100',
              name: 'Produto de teste',
              price: 18.00,
              can_discount: 1,
              type: 'un',
          }
      ],
      products: [],
      showListProduct: false,
      newClient: {
          postcode: '',
          street: '',
          uf: '',
          number: '',
          city: '',
          neighborhood: '',
          full_name: '',
          is_active: 1,
          phone: '',
          cellphone: '',
          email: '',
          cpf: '',
          rg: '',
      },
      cart: [],
      amount: 0,
      discount: 0,
      total: 0,
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: ' ',
        precision: 2,
        masked: false
      },
      arrowCounter: 0,
      arrowCounterProd: 0,
    }
  },

  computed: {
      cpfIsValid() {
          if (!this.newClient.cpf) return true;
          return isValidCPF(this.newClient.cpf);
      },
      emailIsValid() {
          if (!this.newClient.email) return true;
          return isValidEmail(this.newClient.email);
      },
  },

  methods: {
    onArrowDown(ev) {
      ev.preventDefault();
      if (this.arrowCounter < this.clients.length-1) {
        this.arrowCounter = this.arrowCounter + 1;
        this.fixScrolling();
      }
    },

    onArrowUp(ev) {
      ev.preventDefault()
      if (this.arrowCounter > 0) {
        this.arrowCounter = this.arrowCounter - 1;
        this.fixScrolling()
      }
    },

    onEnter() {
      this.client = this.clients[this.arrowCounter];
      this.showListClient = false;
      this.clientSearch = this.client.full_name;
      this.arrowCounter = 0;
    },

    fixScrolling(){
      console.log(this.$refs);
      const liH = this.$refs.options[this.arrowCounter].clientHeight;
      this.$refs.scrollContainer.scrollTop = liH * this.arrowCounter;
    },

    onArrowDownProd(ev) {
      ev.preventDefault()
      if (this.arrowCounterProd < this.products.length-1) {
        this.arrowCounterProd = this.arrowCounterProd + 1;
        this.fixScrollingProd();
      }
    },

    onArrowUpProd(ev) {
      ev.preventDefault()
      if (this.arrowCounterProd > 0) {
        this.arrowCounterProd = this.arrowCounterProd - 1;
        this.fixScrollingProd()
      }
    },

    onEnterProd() {
      const product = this.products[this.arrowCounterProd];
      this.addCart(product);
      this.showListProduct = false;
      this.productSearch = product.name;
      this.arrowCounterProd = 0;
    },

    fixScrollingProd(){
      const liH = this.$refs.optionsProd[this.arrowCounterProd].clientHeight;
      this.$refs.scrollContainerProd.scrollTop = liH * this.arrowCounterProd;
    },

    async getClients() {
      this.showListClient = true;
      addEventListener('keydown', this.closePopup);

      const config = {
        params: {
          search: this.clientSearch,
          paginate: false,
        }
      };

      let url = '/clients';

      try {
        let response = await axios.get(url, config);
        this.clients = response.data;
      } catch (error) {
        console.log(error);
      }
    },

    closePopup(e) {
      if (e.key === 'Escape' || e.keyCode === 27) {
        this.showListProduct = false;
        this.showListClient = false;
      }
    },

    createClient() {
      if (!this.emailIsValid || !this.cpfIsValid) return;
      this.newClient.full_name = this.clientSearch;
      $('#createUserModal').modal('show');
    },

    async getProducts() {
      this.showListProduct = true;
      addEventListener('keydown', this.closePopup);

      const config = {
        params: {
          search: this.productSearch,
          paginate: false,
        }
      };

      let url = '/products';

      try {
        let response = await axios.get(url, config);
        this.products = response.data;
      } catch (error) {
        console.log(error);
      }
    },

    selectedClient(client) {
      this.arrowCounter = 0;
      this.client = client;
      this.clientSearch = client.full_name;
      this.showListClient = false;
      removeEventListener('keydown', this.closePopup);
    },

    selectedProduct(product) {
      this.productSearch = product.name;
      this.showListProduct = false;
      removeEventListener('keydown', this.closePopup);
    },

    openCreateModal() {
      $('#createUserModal').modal('show');
    },

    openCancelModal() {
      $('#cancelModal').modal('show');
    },

    handleCancel() {
      $('#cancelModal').modal('hide');
      this.client = '';
      this.cart = [];
      this.clientSearch = '';
      this.calculateCart();
    },

    async submitCreateUser() {
        toastr.options = {
            "positionClass": "toast-bottom-right",
        }
        toastr.info('Criando cliente...');

        try {
            toastr.clear();
            const formData = new FormData();
            Object.keys(this.newClient).forEach((key) => {
                formData.append(key, this.newClient[key]);
            });
            let client = await axios.post('/clients', this.newClient);
            this.client = client;
            this.clientSearch = this.newClient.full_name;
            this.showListClient = false;
            $('#createUserModal').modal('hide');
            toastr.success('Cliente criado com sucesso')
        } catch (error) {
            toastr.clear();
            toastr.error('Não foi possível criar o cliente')
            console.log(error);
        }
    },

    async handleViacep() {
        const postcode = this.newClient.postcode.replace(/\D/g, '');

        if (postcode.length === 8) {
            this.newClient.street =  "";
            this.newClient.neighborhood =  "";
            this.newClient.city =  "";
            this.newClient.uf =  "";

            const { data } = await axios.get(`https://viacep.com.br/ws/${postcode}/json`);
            if (data.erro) {
                toastr.options = {
                    "positionClass": "toast-bottom-right",
                };
                toastr.error('CEP não encontrado');
                return;
            }
            this.newClient.street = data.logradouro;
            this.newClient.neighborhood = data.bairro;
            this.newClient.city = data.localidade;
            this.newClient.uf = data.uf;
        }
    },

    previewFile(e) {
      const supportedMime = ['image/jpeg', 'image/png'];
      const { type } = e.target.files[0];
      const [image] = e.target.files;
      this.newClient.photo = image;
      if (supportedMime.indexOf(type) > -1) {
        const reader = new FileReader();
        reader.readAsDataURL(e.target.files[0]);
        reader.onload = () => {
          this.$refs.formFile.style.background = `url('${reader.result}') no-repeat center center / cover`;
        };
      }
    },

    clearSelectedClient() {
      this.client = '';
      this.clientSearch = '';
      this.showListClient = false;
    },

    async setClientDefault() {
      await this.getClients();
      this.clientSearch = '';
      this.client = this.clients[0];
      this.showListClient = false;
    },

    addCart(product) {
      this.arrowCounterProd = 0;

      let productInCart = this.cart.find(element => element.productName === product.name);

      if (productInCart === undefined) {
        this.cart.push({
          productName: product.name,
          amount: 1,
          price: parseFloat(product.price),
          editDiscount: false,
          discount: 0,
          stock: 10,
          subtotal: parseFloat(product.price),
        })
      } else {
        let productIndex = this.cart.findIndex(element => element.productName === product.name);
        if(this.cart[productIndex].amount >= this.cart[productIndex].stock) return;

        let subtotal = parseFloat(this.cart[productIndex].subtotal) + parseFloat(product.price);

        this.cart[productIndex].amount++;
        this.cart[productIndex].subtotal = subtotal;
      }

      this.productSearch = '';
      this.showListProduct = false;

      this.calculateCart();
    },

    calculateCart() {
      let discount = 0;
      let total = 0;
      let amount = 0;

      this.cart.map((item) => {
        amount += item.amount;
        discount += (item.discount * item.amount);
        item.subtotal = (item.price - item.discount)  * item.amount;
        total += item.subtotal;
      });

      this.discount = discount;
      this.total = total;
      this.amount = amount;
    },

    removeAmountProductCart(index) {
      this.cart[index].amount--;
      if (this.cart[index].amount === 0) {
        this.removeProductCart(index);
      } else {
        this.calculateCart();
      }
    },

    addAmountProductCart(index) {
      if(this.cart[index].amount >= this.cart[index].stock) return;
      this.cart[index].amount++;
      this.calculateCart();
    },

    removeProductCart(index) {
      this.cart.splice(index, 1);
      this.calculateCart();
    },

    editProductDiscount(index) {
      this.cart[index].editDiscount = true;
    },

    applyDiscount(index) {
      toastr.options = {
        "positionClass": "toast-bottom-right",
      };

      if (this.cart[index].discount > this.cart[index].price) {
          toastr.error('O valor de desconto não pode ser maior do que o valor do produto');
          this.cart[index].discount = 0;
      }
      if (this.cart[index].discount < 0) {
          toastr.error('O valor de desconto não pode ser negativo');
          this.cart[index].discount = 0;
      }
      this.cart[index].editDiscount = false;
      this.calculateCart();
    }

  },
  mounted() {
    this.setClientDefault();
    $('#myModal').on('hidden.bs.modal', function () {
      this.newClient = {
        postcode: '',
        street: '',
        uf: '',
        number: '',
        city: '',
        neighborhood: '',
        full_name: '',
        is_active: 1,
        phone: '',
        cellphone: '',
        cpf: '',
        email: '',
        rg: '',
      };
    });
  }
}
</script>

<style lang="scss"
       scoped>
li:hover {
  background-color: #f2f4f6;
  cursor: pointer;
}

.box-secondary {
  background: rgba(228, 231, 237, 0.5);
  border: 1px solid rgba(228, 231, 237, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 15px;
}

.table {
  margin-bottom: 150px;
}

.box-price {
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.card-body {
  height: auto;
}

.search-popup {
    position: absolute;
    top: 38px;
    z-index: 20;
    width: calc(100% - 16px);
    overflow: auto;
    color: #4b545c;
    box-shadow: 0px 4px 12px 0px #000000 20%;
}

.search-popup li.is-active {
    color: #0983E8;
}

.form-file input {
  width: 100%;
  height: 100%;
  opacity: 0;
  color: transparent;
}

.form-file {
  width: 118px;
  height: 118px;
  border-radius: 4px;
  background: #E4E7ED;
  margin-right: 8px;
 }
.list-group {
    max-height: 360px;
}

@media(min-width: 1024px) {
  .card-body {
    height: 100%;
  }
}

.money {
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  box-shadow: inset 0 0 0 transparent;
  transition: border-color .15s
}

.product-card {
    position: relative;
    overflow: hidden;
}

.product-card:after {
    content: ' ';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    line-height: 100%;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: .4s all ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
}

.product-card:hover:after {
    content: '+';
    background-color: rgba(0, 0, 0, 0.5)
}

.available {
    color: #0983E8;
}

.unavailable {
    color: #d63030;
}

.card-body {
    margin: 0;
    padding: 0 8px;
    padding-top: 4px;
    margin-bottom: 8px;
}
</style>
