<template>
  <div>
    <div class="row px-4">
      <input
        type="text"
        class="form-control"
        id="client"
        placeholder="Busca por vendas de hoje"
      />
    </div>

    <div class="row mt-4 px-4">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-secondary">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Detalhes problema</th>
              <th scope="col">Cliente</th>
              <th scope="col">Data Solicitação</th>
              <th scope="col">Data Entrega</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>109</td>
              <td>Tela quebrada do ipho...</td>
              <td>José Fernando</td>
              <td>23/01/2021 10:43</td>
              <td>25/01/2021 12:00</td>
              <td>
                <span class="btn btn-warning micro-button">Aguardando concerto</span>
              </td>
            </tr>
            <tr>
              <td>109</td>
              <td>Tela quebrada do ipho...</td>
              <td>José Fernando</td>
              <td>23/01/2021 10:43</td>
              <td>25/01/2021 12:00</td>
              <td>
                <span class="btn btn-success micro-button">Pronto</span>
              </td>
            </tr>
            <tr>
              <td>109</td>
              <td>Tela quebrada do ipho...</td>
              <td>José Fernando</td>
              <td>23/01/2021 10:43</td>
              <td>25/01/2021 12:00</td>
              <td>
                <span class="btn btn-danger micro-button">Cancelado</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "OrdersList",
  data() {
    return {};
  },

  methods: {
    getSales() {},
  },
  mounted() {
    this.getSales();
  },
};
</script>

<style lang="scss" scoped>
.micro-button {
  font-size: 12px;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 4px;
}

.table td {
    border: none;
    vertical-align: middle;
}

table tbody tr:nth-of-type(2n) {
    background: #FAFBFC;
}
</style>
