<template>
  <div>
    <div class="p-4 bg-white">
      <div class="d-flex justify-content-between">
        <div class="text-secondary">
          <label class="order-details-title mb-0">CLIENTE</label>
          <p>Lorem ipsum dolor</p>
        </div>
        <div class="text-secondary">
          <label class="order-details-title mb-0">PRAZO</label>
          <p class="text-secondary">
            {{ date }} -
            <span class="text-primary">{{ remainingTime }}</span>

            <button
              id="editDate"
              class="btn-clean align-self-center"
              style="cursor: pointer"
            >
              <i class="fas fa-pen text-primary ml-2"></i>
            </button>
          </p>
        </div>
      </div>
      <hr />

      <div class="form-group">
        <label class="text-secondary section-title mb-2">OBSERVAÇÃO</label>
        <p class="text-secondary observation">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
      </div>

      <hr />

      <div class="form-group">
        <div class="input-group">
          <input
            class="form-control"
            type="search"
            placeholder="Buscar por Produto (Nome / Código)"
          />
        </div>
        <label class="text-secondary section-title mt-3 mb-2">PRODUTO</label>
        <table class="w-100 text-secondary">
          <tbody>
            <tr>
              <td class="bullet">Carcaça iPhone X</td>
              <td align="right"><b>Quant.</b> 02</td>
              <button class="btn-clean ml-2">
                <i class="far fa-trash-alt text-danger"></i>
              </button>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="bg-light p-4">
      <div class="section-title form-group">
        <label class="text-secondary mb-0">COMENTÁRIOS</label>
      </div>

      <div class="comment">
        <div class="comment-title">
          <p class="comment-title-user">Ramon Oliveira</p>
          <p class="comment-title-hour">11/01/2021 - 20:00</p>
        </div>
        <p class="comment-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text.
        </p>
      </div>

      <div class="comment">
        <div class="comment-title">
          <p>ANEXO</p>
        </div>
        <p class="font-comment">Arquivo_do_comentario.pdf</p>
      </div>

      <div class="form-group pt-2">
        <textarea
          class="form-control comment-input"
          rows="3"
          placeholder="Comentário"
          v-model="form.comment"
        >
        </textarea>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <label class="position-relative text-secondary font-weight-normal">
          <input class="file-input" type="file" />
          <svg
            class="mr-1"
            width="17"
            height="15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.565 1.548L2.331 7.782c-1.232 1.232-1.426 3.23-.318 4.573a3.328 3.328 0 004.932.242l7.283-7.284c.772-.772.92-2.027.23-2.87a2.084 2.084 0 00-3.094-.158L5.177 8.472a.836.836 0 000 1.178.836.836 0 001.178 0l5.156-5.156a.63.63 0 01.884 0 .63.63 0 010 .884l-5.073 5.074c-.772.772-2.027.919-2.87.23a2.083 2.083 0 01-.159-3.094L10.38 1.5c1.232-1.232 3.23-1.426 4.573-.318a3.332 3.332 0 01.241 4.932l-7.23 7.23c-1.691 1.691-4.443 1.968-6.287.442a4.588 4.588 0 01-.33-6.788L7.68.664a.63.63 0 01.884 0 .63.63 0 010 .884z"
              fill="#000"
              fill-opacity=".54"
            />
          </svg>
          Anexar arquivo
        </label>
        <button class="btn btn-lg btn-secondary font-weight-bold">
          Comentar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import daterangepicker from "daterangepicker";
import moment from "moment";
import "daterangepicker/daterangepicker.css";

export default {
  name: "OrderDetails",
  data() {
    return {
      date: "21/01/2021",
      form: {
        comment: "",
      },
    };
  },

  methods: {},
  computed: {
    remainingTime() {
      const now = moment.now();
      const end = moment(this.date, "DD/MM/YYYY");
      const duration = moment.duration(end.diff(now));

      const days = Math.floor(duration.asDays());
      duration.subtract(moment.duration(days,'days'));

      const hours = duration.hours();
      duration.subtract(moment.duration(hours,'hours'));

      return `Faltam ${days > 0 ? days + " dias" : ""} ${
        days > 0 && hours > 0 ? "e" : ""
      } ${hours ? hours + " horas" : ""}`;
    },
  },
  mounted() {
    const actualYear = parseInt(moment().format("YYYY"), 10);
    $("#editDate").daterangepicker(
      {
        singleDatePicker: true,
        minDate: 0,
        showDropdowns: true,
        minYear: actualYear,
        maxYear: actualYear + 5,
      },
      (start, end, label) => {
        const newDate = start.format("DD/MM/YYYY");
        this.date = newDate;
      }
    );
  },
};
</script>

<style lang="scss" scoped>
p {
  margin: 0;
}

.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.bullet {
  position: relative;
  padding-left: 12px;
}

.bullet::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--primary);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

table td {
  vertical-align: center;
}

.section-title {
  font-size: 14px;
}

.order-details-title {
  font-size: 12px;
}

.btn-clean {
  background: none;
  border: none;
  padding: 0;
}

.comment-title {
  display: flex;
  justify-content: space-between;
}

.observation {
  font-size: 14px;
}

.comment-title p {
  margin-bottom: 2px;
  font-weight: 500;
}

.comment-title-user {
  color: #21316f;
}

.comment {
  margin-bottom: 12px;
  color: var(--secondary);
  font-size: 14px;
}

.comment-input {
  max-height: 80px;
  resize: none;
  border: 1px solid #e4e7ed;
}
</style>
