<template>
  <div class="maintenance-page">
    <div class="row">
      <div class="col-md-7">
        <div class="card card-body h-100">
          <orders-list></orders-list>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card h-100 bg-light">
          <order-details></order-details>
        </div>
      </div>
    </div>

    <!-- Botões para salvamento-->
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="d-flex flex-row-reverse w-100">
          <div>
            <button
              type="button"
              class="btn btn-lg font-weight-bold btn-block btn-primary"
            >
              CONCLUIR
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OrdersList from "./OrdersList";
import OrderDetails from "./OrderDetails";

export default {
  name: "Page",
  components: {
    "orders-list": OrdersList,
    "order-details": OrderDetails,
  },
  data() {
    return {};
  },

  methods: {
    getSale() {},
  },
  mounted() {
    this.getSale();
  },
};
</script>

<style lang="scss" scoped>
  .maintenance-page {
      font-family: 'Roboto', sans-serif;
  }
</style>
